.invo-header {
    color: rgb(2, 119, 189);
}

.invo-header-cus {
    margin: 30px 0px;
}

.table-order-create {
    text-align: center;
    thead {
        th {
            color: white;
        }
    }
    input {
        width: 100%;
        box-sizing: content-box;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ced4da;
        border-bottom-style: dotted;
        border-radius: 0;
        outline: 0;
        box-shadow: none;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        text-align: center;
    }
    select {
        background-color: transparent;
        border: none;
    }
    input:focus {
        border-bottom: 1px solid #4285f4;
        box-shadow: 0 1px 0 0 #4285f4;
    }
}

.bg-color-blue {
    background-color: #4285f4;
}

#invoice {
    .box-money {
        width: 400px;
        font-size: 20px;
        border: 1px solid #cec6c691;
        padding: 30px 40px;
        box-shadow: 0 0 2px 0px #00000047;
        .total-money span {
            width: 47%;
            text-align: right;
            display: inline-block;
        }
        input {
            width: 90%;
            box-sizing: content-box;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #ced4da;
            border-bottom-style: dotted;
            border-radius: 0;
            outline: 0;
            box-shadow: none;
            text-align: right;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        table {
            width: 100%
        }
    }
}
.create_invoice {
    .btn-default {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
    }
    .select2 {
        width: 100% !important;
    }
    .select2-container .select2-selection--single {
        height: calc(1.5em + .75rem + 2px);
        border: 1px solid #d1d3e2;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: calc(1.5em + .75rem + 2px);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: calc(1.5em + .75rem + 2px);
    }
    .table-order-create .select2-container .select2-selection--single {
        border: none;
        border-bottom: 1px solid #ced4da;
        border-bottom-style: dotted;
        background-color: transparent;
    }
    .table-order-create .select2-container--default .select2-selection--single .select2-selection__rendered {
        text-align: left;
    }
    .width-min-250 {
        min-width: 250px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .width-c_order-200 {
        width: 200px;
    }
    .width-c_order-150 {
        width: 150px;
    }
    .width-c_order-100 {
        width: 100px;
    }
}