#list_invoice {
    ul.pagination {
        display: inline-flex;
    }

    .table-invoice input {
        width: 100% !important;
        ;
    }

    .detail table thead th {
        border-top: 0px;
    }

}
.table-total-money {
    border-top: 1px solid #a29e9e;
    td {
        padding: 5px 10px;
    }
}
