.red {
    color: red;
}

.list-roles li:hover {
    background: #4e73df;
    cursor: pointer;
}

.role-form {
    border: 1px solid #f1f1f1;
    padding: 10px;
    text-align: center;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.with-10 {
    width: 10px;
}
.with-15 {
    width: 15px;
}
@media (min-width: 992px) {
    .width-200 {
        width: 200px;
    }

    .width-150 {
        width: 150px;
    }

    .width-100 {
        width: 100px;
    }

    .max-with-md-300 {
        max-width: 300px;
    }

    .view-pen-trash {
        width: 150px;
        text-align: center;

        .btn {
            padding: 2px 6px;

            i {
                font-size: 14px;
            }
        }
    }

    .eye-pen {
        width: 100px;
        text-align: center;

        .btn {
            padding: 2px 6px;

            i {
                font-size: 14px;
            }
        }
    }

    .boder-left {
        border-left: 1px solid red;
    }
}

@media (min-width: 768px) {
    .text-right-sm {
        text-align: right;
    }

    .sidebar.toggled .nav-item {
        .collapse,
        .collapsing {
            z-index: 10;
        }
    }
}
